@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #10439F;
  --secondary-color: #874CCC;
  --sub-primary: #C65BCF;
  --sub-secondary: #F27BBD;
  --background-color: #f5f5f5;
  --search-background: #e0e0e0;
  --search-icon-color: #9e9e9e;
  --sidebar-width: 260px;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.list-icon {
  height: 24px;
  margin-right: 8px;
}

.app-logo {
  height: 40px;
  margin-right: 8px;
}

.logo h1 {
  font-size: 1.6em;
  margin: 0;
  color: var(--primary-color);
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--primary-color);
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--search-background);
  border-radius: 20px;
  padding: 5px 15px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.search-icon1 {
  display: none;
}
.search-icon, .close-icon {
  font-size: 20px;
  color: var(--search-icon-color);
  margin-right: 10px;
}

.search-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  color: #333;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-buttons img {
  height: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.nav-buttons img:nth-child(-n+3) {
  margin-right: 20px;
}

.nav-buttons img:hover {
  opacity: 0.7;
}

.profile-pic {
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.sidebar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  z-index: 10;
  padding: 24px;
  top: 60px;
  left: 0;
  overflow-y: auto;
}

.vertical-tabs {
  display: flex;
  flex-direction: column;
}

.vertical-tabs a {
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
  background-color: transparent;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 450;
  color: var(--c-text-action);
  transition: 0.15s ease;
}

.vertical-tabs a:hover,
.vertical-tabs a:focus,
.vertical-tabs a.active {
  background-color: #fdf0c3;
}

.vertical-tabs img {
  height: 24px;
  margin-right: 8px;
}

.vertical-tabs b {
  font-weight: 700;
}

.info {
  display: flex;
  margin-top: 60px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: var(--sidebar-width);
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .logo {
    flex-grow: 1;
  }

  .search-bar {
    display: none;
  }

  .search-icon1 {
    display: flex;
    padding-right: 180px;
  }

  .sidebar {
    width: 60px; 
    padding: 10px; 
    padding-top: 40px;
  }

  .sidebar b {
    display: none;
  }

  .vertical-tabs a {
    justify-content: center;
    padding: 10px 0; 
  }

  .vertical-tabs img {
    margin-right: 0;
  }

  .content {
    padding-top: 40px;
    margin-left: 80px; 
  }

  .card_container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
  }

  .header-content {
    flex-wrap: wrap;
  }
}

@media (min-width: 769px) {
  .sidebar {
    width: var(--sidebar-width); 
    padding: 24px; 
  }

  .content {
    margin-left: var(--sidebar-width); 
  }
}
